# Uploaded media files
static/uploads/

# The destination/output directory
public/

# Local paths updated in the Makefile
Makefile

# Data that gets refreshed via external processes
data/**

# Legacy static files
static/m/**
