    <!-- NAV -->
    <div class="contain-to-grid">

      <div class="row">
        <div class="small-12 large-offset-1 large-10 columns">

          <nav class="top-bar" data-topbar="">
            <ul class="title-area">
              <li class="name">
              <h1><a href="/">Xonotic</a></h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="">Menu</a></li>
            </ul>

            <section class="top-bar-section">
              <!-- Left Nav Section -->
              <ul class="left show-for-large-up">
                <li><a href="/download/" title="Download the game">Download</a></li>
                <li><a href="/media/" title="View screenshots and videos">Media</a></li>
                <li><a href="http://forums.xonotic.org/" title="Visit the community forums">Forums</a></li>
                <li><a href="/blog/" title="Read the blog">blog</a></li>
                <li><a href="http://stats.xonotic.org/" title="View player statistics and recent games">Stats</a></li>
                <li><a href="https://gitlab.com/groups/xonotic" title="Contribute to Xonotic">Contribute</a></li>
                <li><a href="https://gitlab.com/xonotic/xonotic/wikis/Halogenes_Newbie_Corner" title="Read the beginner's guide">Guide</a></li>
              </ul>
            </section>
          </nav>

        </div>
      </div> <!-- END ROW -->

    </div> <!-- END NAV -->
