<!-- LINKS SECTION -->
<section class="section-links pad text-center">
  <div class="row">

    <div class="small-12 columns">
      <h3>When We're Not Fragging, We're Social!</h3>
      <ul>
        <li><a href="/chat" title="IRC Webchat"><i class="fas fa-comment"></i></a></li>
        <li><a href="https://discordapp.com/invite/0uxcsw1XMkaOB936" title="Discord"><i class="fab fa-discord"></i></a></li>
        <li><a href="https://gitlab.com/groups/xonotic/-/activity" title="Gitlab"><i class="fab fa-git"></i></a></li>
        <li><a href="https://www.facebook.com/pages/Xonotic/106450756044750" title="Facebook"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://twitter.com/xonotic" title="Twitter"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="https://www.youtube.com/xonotic" title="YouTube"><i class="fab fa-youtube-square"></i></a></li>
        <li><a href="https://www.reddit.com/r/xonotic/" title="Reddit"><i class="fab fa-reddit-square"></i></a></li>
      </ul>
    </div>

  </div>
</section>
