{{ partial "header.html" . }}

<!-- DOWNLOAD SECTION -->
<section class="section-dl text-center">
  <img src="/static/img/xonotic-logo.png">
  <h2>The Free and Fast Arena Shooter</h2>
  <a href="#" class="button round alert">
      <i class="fa fa-download"></i> Download<br />
      <em>v0.7 for Linux, Windows, and Mac</em>
  </a>
</section>

<!-- SUMMARY SECTION -->
<section class="section-summary pad text-center">
  <div class="row">
    <div class="small-12 columns">
      <h3>Xonotic is an addictive, arena-style first person shooter with rapid
          movement and a wide array of weapons. It focuses on intuitive
          movement and fast-paced play. Xonotic is free-to-play and available
          for download under the permissive GPLv2 license.</h3>
    </div>
  </div>
</section>

<!-- WEAPON SECTION -->
<section class="section-weapon pad">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h3>Distinctive Weapons</h3>
      <h5>Xonotic has 9 core weapons and 16 full weapons in its armory. Each
        has a primary fire and a UT-like secondary fire. They are each useful
      in particular situations, so weapon choice is critical. Frag away!</h5>
    </div>

    <div class="small-12 medium-6 columns">
      <a class="th" href="/static/img/carousel_weapons.jpg"> 
        <img src="/static/img/carousel_weapons.jpg" alt="9 distinctive weapons">
      </a>
    </div>

  </div>
</section>

<!-- GAME MODE SECTION -->
<section class="section-game-mode pad">
  <div class="row">

    <div class="small-12 medium-6 columns">
      <a class="th" href="/static/img/carousel_game_modes.jpg"> 
        <img src="/static/img/carousel_game_modes.jpg" alt="Tons of game modes">
      </a>
    </div>

    <div class="small-12 medium-6 columns">
      <h3>Tons of Game Modes</h3>
      <h5>Through the support of our diverse community Xonotic has a huge variety of game
        modes for you to play. There's the normal game modes you'd expect from
    an arena shooter like Deathmatch (FFA), Capture The Flag, and Clan Arena,
    plus more whacky modes like Nexball and Freeze Tag. Multiplayer Race is also support!</h5>
    </div>

  </div>
</section>

<!-- MAPS SECTION -->
<section class="section-maps pad">
  <div class="row">

    <div class="small-12 medium-6 columns">
      <h3>New and Classic Maps</h3>
      <h5>Xonotic ships ready to play with 25 official maps, with dozens of
        community-made ones just a click away. Classic Nexuiz maps are also
      supported, including those converted from Quake 3!</h5>

      <h5>Those interested in making maps of their own can use our map editor,
    which also ships with the game.
    </div>

    <div class="small-12 medium-6 columns">
      <a class="th" href="/static/img/carousel_maps.jpg"> 
        <img src="/static/img/carousel_maps.jpg" alt="Maps ready to go!">
      </a>
    </div>

  </div>
</section>

<!-- STATS SECTION -->
<section class="section-stats pad">
  <div class="row">

    <div class="small-12 medium-6 columns">
      <a class="th" href="/static/img/carousel_stats.jpg">
        <img src="/static/img/carousel_stats.jpg" alt="Integrated Player Statistics">
      </a>
    </div>

    <div class="small-12 medium-6 columns">
      <h3>Integrated Player Statistics</h3>
      <h5>Track your progress with XonStat, the integrated player statistics
        application. See vital stats like your kill:death ratio, weapon damage
      and accuracy, and recent games. Tracking is completely opt-in, and no
    login is required!</h5>
    </div>

  </div>
</section>

<!-- HUD SECTION -->
<section class="section-hud pad">
  <div class="row">

    <div class="small-12 medium-6 columns">
      <h3>Customizable Heads-Up Display</h3>
      <h5>Tailor the information on your screen to what you’re used to with our
        easy to use HUD editor. Stick with the defaults, add all the whiz-bang widgets, or go minimalist – it is completely up to you!</h5>
    </div>

    <div class="small-12 medium-6 columns">
      <a class="th" href="/static/img/carousel_hud.jpg"> 
        <img src="/static/img/carousel_hud.jpg" alt="Easily customizable Heads-Up Display (HUD)">
      </a>
    </div>

  </div>
</section>

<!-- COMPETITIVE/CASUAL SECTION -->
<section class="section-competitive-casual pad">
  <div class="row">

    <div class="small-12 medium-6 columns">
      <a class="th" href="/static/img/carousel_competitive_casual.jpg"> 
        <img src="/static/img/carousel_competitive_casual.jpg" alt="Support for both casual and competitive players.">
      </a>
    </div>

    <div class="small-12 medium-6 columns">
      <h3>Casual and Competitive</h3>
      <h5>Xonotic is easy to learn but hard to master! We strive to provide
        thrilling action for the casual player but also e-sport opportunities
      for those interested in friendly competition. Features such as simple items, 
      fully customizable configs and servers, a functioning anticheat system, spectator 
      mode, and the opportunity to watch and record games make Xonotic
      appealing to competitive players.</h5>
    </div>

  </div>
</section>
{{ partial "footer.html" . }}
