{{ partial "header.html" . }}
    <!-- CONTENT -->
    <div class="row">
      <div class="small-12 large-offset-1 large-10 columns">
        <h2>{{ .Title }}</h2>

        <p>This FAQ page will be updated occasionally based on questions we receive in <a href="/chat">IRC</a> and from our forum thread "<a href="http://forums.xonotic.org/showthread.php?tid=15">Ask your questions about Xonotic here</a>"</p>

        {{ .TableOfContents }}

        <div class="faq">
            {{ .Content }}
        </div>

      </div> <!-- END MAIN COLUMN -->
    </div> <!-- END ROW -->
    <!-- END CONTENT -->
{{ partial "footer.html" . }}
